@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-display: swap;
  src: url(/public/fonts/RobotoMono-VariableFont_wght.woff2) format("woff2-variations");
  font-weight: 1 1000;
}

:root {
  --gruvbox-black: #282828;
  --gruvbox-green: #98971A;
  --gruvbox-aqua: #689D6A;
  --gruvbox-aqualight: #8EC07C;
  --gruvbox-gray: #A89984;
  --white: #ffffff;
  --gruvbox-purple: #B16286;
  --gruvbox-fg: #F9F5D7;
  --gruvbox-fg-darker: #FBF1C7;

  --bg: var(--black);

  color-scheme: dark;
}

body, html {
  height: 100%;
  min-height: 100%;
}

body:has(#experience:target) .wrapper {
  background-color: var(--gruvbox-aqua);
}

body:has(#experience:target) .title {
  color: var(--white);
}

body:has(#projects:target) .wrapper {
  background-color: var(--gruvbox-fg);
}
body:has(#projects:target) .title,
body:has(#projects:target) .name,
body:has(#projects:target) .subtitle,
body:has(#projects:target) nav {
  color: var(--gruvbox-black);
}

nav a.link-active svg {
  @apply opacity-100 translate-x-0;
}

nav a.link-active span {
  @apply translate-x-7;
}

/* @keyframes fade-in { */
/*   from { opacity: 0; } */
/* } */

/* @keyframes fade-out { */
/*   to { opacity: 0; } */
/* } */

/* @keyframes slide-from-right { */
/*   from { transform: translateX(30px); } */
/* } */

/* @keyframes slide-to-left { */
/*   to { transform: translateX(-30px); } */
/* } */

/* ::view-transition-old(root), */
/* ::view-transition-new(root) { */
/*   animation: 5s; */
/* } */

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-from-left {
  from { transform: translateX(-30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(sidebar) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(sidebar) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    400ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(full-embed),
::view-transition-new(full-embed) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(full-embed) {
  isolation: none;
}

.full-embed {
  view-transition-name: full-embed;
  contain: layout;
}

.sidebar {
  view-transition-name: sidebar;
  contain: layout;
}
